USE [master]
GO
/****** Object:  Database [Beelectronics]    Script Date: 07/05/2021 12:40:08 a. m. ******/
CREATE DATABASE [Beelectronics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Beelectronics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Beelectronics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Beelectronics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Beelectronics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Beelectronics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Beelectronics]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07/05/2021 12:40:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[idCategory] [int] NOT NULL,
	[nameCategory] [varchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07/05/2021 12:40:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[idProduct] [int] IDENTITY(1,1) NOT NULL,
	[nameProduct] [varchar](50) NULL,
	[stockProduct] [int] NULL,
	[imgProduct] [varchar](max) NULL,
	[priceProduct] [int] NULL,
	[idCategory] [int] NOT NULL,
 CONSTRAINT [PK_Products2] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 07/05/2021 12:40:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[idRecord] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[nameProduct] [varchar](50) NULL,
	[priceProduct] [int] NULL,
	[qtyProduct] [int] NULL,
	[dateRecord] [date] NULL,
 CONSTRAINT [PK_Records] PRIMARY KEY CLUSTERED 
(
	[idRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/05/2021 12:40:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[nameUser] [varchar](50) NULL,
	[passUser] [varchar](50) NULL,
	[idUserType] [int] NOT NULL,
	[imgUser] [varchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 07/05/2021 12:40:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[idUserType] [int] NOT NULL,
	[nameUserType] [varchar](50) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[idUserType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([idCategory], [nameCategory]) VALUES (1, N'Accesories')
INSERT [dbo].[Categories] ([idCategory], [nameCategory]) VALUES (2, N'Audio')
INSERT [dbo].[Categories] ([idCategory], [nameCategory]) VALUES (3, N'Components')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Records] ON 

INSERT [dbo].[Records] ([idRecord], [idUser], [nameProduct], [priceProduct], [qtyProduct], [dateRecord]) VALUES (1, 8, N'Product 1', 500, 2, CAST(N'2021-05-06' AS Date))
INSERT [dbo].[Records] ([idRecord], [idUser], [nameProduct], [priceProduct], [qtyProduct], [dateRecord]) VALUES (3, 8, N'Product 1', 100, 5, CAST(N'2021-05-06' AS Date))
INSERT [dbo].[Records] ([idRecord], [idUser], [nameProduct], [priceProduct], [qtyProduct], [dateRecord]) VALUES (4, 8, N'Product 2', 100, 5, CAST(N'2021-05-06' AS Date))
SET IDENTITY_INSERT [dbo].[Records] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserTypes] ([idUserType], [nameUserType]) VALUES (1, N'Admin')
INSERT [dbo].[UserTypes] ([idUserType], [nameUserType]) VALUES (2, N'Storer')
INSERT [dbo].[UserTypes] ([idUserType], [nameUserType]) VALUES (3, N'Client')
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products2_Categories] FOREIGN KEY([idCategory])
REFERENCES [dbo].[Categories] ([idCategory])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products2_Categories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes] FOREIGN KEY([idUserType])
REFERENCES [dbo].[UserTypes] ([idUserType])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserTypes]
GO
USE [master]
GO
